@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* General formating */
body {
  font-family: 'Roboto Mono';
  background: #1a1a1d;
  color: white;
  font-size: 16px;
}

li {
  display: list-item;
}

/* Menu */
nav {
  clear: both;
  overflow: hidden;
  background-color: #c3073f;
  padding: 0.3ex;
  border-top: 1px solid #c3073f;
  border-bottom: 1px solid #c3073f;
  text-align: center;
}

nav a {
    padding: 0.5ex 1ex;
    color: #1a1a1d;
    text-decoration: none;
}

nav a:hover {
  background-color:
}

/* top */
#heading {
  text-align: center;
}

/* Data */
#para {
  margin: 0 0 0 200px;
  padding: 1.5em;

}

#para a {
  text-decoration: none;
  color: #c3073f;
}

/* Links */
a {
  display: inline-table;
}

#sidebar {
  float: left;
  margin: 0 1px 0 0;
  padding: 1em 0;
  border-right: 1px solid #4e4e50;
  width: 200px;
}

#sidebar li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar a {
  text-decoration: none;
  color: white;
}

#sidebar a:hover {
  color: #950740;
}

#sidebar li a {
  display: block;
  margin: 0;
  padding: 0.8ex 2em 0.8ex 1em;
}

#footer {
  text-align: center;
}

#table {
  border-collapse: collapse;
}

#table td {
  border-color: #504945;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

#table th {
  border-color: #504945;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

#para img {
  float: left;
  padding: 0 10px 0 0;
}
