@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* General formating */
body {
  font-family: 'Roboto Mono';
  background: #1a1a1d;
  color: white;

}

body a {
  color: #c3073f;
  display: inline-table;
}

/* Menu */
nav {
  background-color: #c3073f;
  padding: 0.3ex;
  text-align: center;
}

nav a {
  padding: 0.5ex 1ex;
  color: #1a1a1d;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

/* top */
#heading {
  text-align: center;
}

#blog {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 24px;
  text-align: justify;
}

#blog blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
  border-radius: 4px;
}

#blog a {
  text-decoration: none;
}

#blog img {
  float: left;
  padding: 0px 10px 0 0;
}
