@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* General formating */
body {
  font-family: 'Roboto Mono';
  background: #1a1a1d;
  color: white;
}

body a {
  color: #c3073f;
}

li {
  display: list-item;
}

/* Menu */
nav {
  background-color: #c3073f;
  padding: 0.3ex;
  text-align: center;
}

nav a {
  padding: 0.5ex 1ex;
  color: #1a1a1d;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

/* top */
#heading {
  text-align: center;
}

/* Data */
#para {
  margin: 0 0 0 200px;
  padding: 1.5em;
}

#para a {
  text-decoration: none;
}

/* Links */
a {
  display: inline-table;
}

#sidebar {
  float: left;
  padding: 1em 0;
  border-right: 1px solid #4e4e50;
  width: 200px;
}

#sidebar li {
  list-style: none;
}

#sidebar a {
  text-decoration: none;
}

#sidebar a:hover {
  color: white;
}

#sidebar li a {
  padding: 0.8ex 2em 0.8ex 1em;
}

#table td {
  border-color: #4e4e50;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 10px 5px;
}

#table th {
  border-color: #4e4e50;
  border-style: solid;
  border-width: 1px;
  padding: 10px 5px;
}

#para img {
  float: left;
  padding: 0 10px 0 0;
}
